<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
   
    <!--<customErrors mode="On" defaultRedirect="Error\error.aspx" >
          <error statusCode="404" redirect="Error\404.aspx" />
          <error statusCode="500" redirect="Error\500.aspx" />
   
       </customErrors>-->
    
      <customErrors defaultRedirect="Error\error.aspx" mode="RemoteOnly">
        <error statusCode="404" redirect="Error\error.aspx" />
    </customErrors>
    
    </system.web>
  <system.webServer>
    
 
        
    <defaultDocument>
      <files>
        <clear/>
        <!--<add value="maintenance.aspx"/>-->
        <add value="main.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
